

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.1px !important;
  color: #263742;
  font-family: Dana, tahoma;
}

/* @supports (font-variation-settings: normal) {
  body {
    font-family: 'danaV', tahoma;
  }
}

.vf-wght {
  font-variation-settings: "wght"800
}

.vf-KASH {
  font-variation-settings: "KASH" 100
} */

.theme--light.v-application {
  color: #263742 !important;
}

.hide-prev-next .v-pagination__navigation {
  display: none;
}

.dir-ltr {
  direction: ltr;
}

.theme--light.v-card {
  color: #263742 !important;
}

.myFont {
  font-family: Dana !important;
}

.v-application {
  font-family: Dana !important;
}

.lang_rtl.v-application {
  font-family: Dana !important;
}

.lang_ltr.v-application {
  font-family: "Roboto", sans-serif !important;
}

.lang_rtl .v-application {
  font-family: Dana !important;
}

.lang_ltr .v-application {
  font-family: "Roboto", sans-serif !important;
}

.dir-ltr {
  direction: ltr !important;
}

.dir-rtl {
  direction: ltr !important;
}

.v-application {
  font-family: Dana !important;
}

.position__absolute {
  position: absolute !important;
}

.position__relative {
  position: relative;
}

a {
  text-decoration: none !important;
}

.zi-1 {
  z-index: 1;
}

.v-btn {
  letter-spacing: -0.1px !important;
  font-weight: 400 !important;
}

.trash_icon {
  top: 1px;
  right: 1px;
}

.img-preview {
  width: 100%;
  max-width: 512px;
  height: 100%;
  max-height: 512px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.img-fluid {
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

.range__max {
  position: absolute;
  top: -20px;
  left: 0;
}

.v-main {
  min-height: calc(100vh - 112px);
}

.v-input__prepend-outer {
  margin: 0 !important;
}

.search_btn {
  height: 56px !important;
}

.search_select_btn {
  height: 56px !important;
  width: 140px;
}

.blog__lable {
  position: absolute !important;
  top: 0;
  right: 0;
}

.blog__hr {
  height: 8px;
  background-color: #12924f;
  box-shadow: unset !important;
}

.test4 {
  background-color: #718588;
}

.bottom__navigation {
  position: fixed;
  bottom: 0px;
  z-index: 16;
}

.border__b {
  border-bottom: 1px solid #cbcbcb;
}

.border__b-soft {
  border-bottom: 1px solid #E0E0E0;
}


.range__max {
  position: absolute;
  top: -20px;
  left: 0;
}

.range__min {
  position: absolute;
  top: -20px;
  right: 0;
}

.filter_btn__active {
  color: #13aa52 !important;
  border-bottom: 3px solid #13aa52 !important;
  background-color: transparent !important;
  font-weight: 600 !important;
}

.filter_btn__active::before {
  opacity: 0 !important;
}

.mt__6 {
  margin-top: -6px;
}

.line_through {
  text-decoration: line-through;
  text-decoration-color: #636d77;
}

.text_height-card {
  height: 63px;
}

.text_height-108 {
  height: 108px;
}

.height-54 {
  height: 54px;
}

.text_height-card2 {
  height: 42px;
}

.active__chip {
  /* outline: #000 double 1px !important; */
  transform: scale(1.3) !important;
  /* border: unset !important; */
}

.border__chip {
  border: 1px solid rgb(141, 140, 140) !important;
}

.border__1 {
  border: #dfdfdf solid 1px !important;
}

.border__green {
  border: #12924f solid 1px !important;
}

.border__blue {
  border: #0082FD solid 1px !important;
}

.border__black {
  border: #000000 solid 1px !important;
}


.vueperslides--fixed-height.vueperslides--bullets-outside {
  margin-bottom: -0.1px !important;
}

.pdp__navigation-btn {
  color: #424950 !important;
  border-bottom: 3px solid #424950 !important;
  background-color: transparent !important;
}

.pdp__navigation-btn::before {
  opacity: 0 !important;
}

.test .vueperslides__arrow--prev {
  right: -1.5em !important;
}

.test .vueperslides__arrow--next {
  left: -1.5em !important;
}

.productCard {
  box-shadow: unset !important
}

.productCard:hover {

  -webkit-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1) !important;

}

.img__chip {
  top: 0;
  right: 0;
  position: absolute;
}

.back-btn {
  top: 26px;
  left: 26px;
}

.background_price {
  background-color: #f5f6f7;
  height: 528px;
}



.border_l {
  border-left: 1px solid #7cb342;
}

.border_x {
  border-left: 1px solid #7cb342;
  border-right: 1px solid #7cb342;
}

.border_r {
  border-right: 1px solid #7cb342;
}

.w-760 {
  max-width: 760px !important;
}

.l_h2 {
  line-height: 2;
}

.line-height__18 {
  line-height: 1.8 !important;
}

.contact_us iframe {
  width: 100%;
  height: 100%;
}

.h_iframe-aparat_embed_frame {
  position: relative;
  width: 100%;
  height: 100%;
}

.h_iframe-aparat_embed_frame iframe {
  border-radius: 10px !important;
  border: unset !important;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.video_static {
  width: 100%;
  height: auto;
  border-radius: 10px;
}



.bach_hover {
  background-color: rgba(18, 146, 79, 0.1);
}

.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}

.theme--light.v-select.v-input--is-disabled .v-select__selections,
.theme--light.v-select .v-select__selection--disabled {
  color: #263742 !important;
}

.sticky__blog {
  position: sticky;
  top: 10px;
}

.sticky__blog2 {
  position: sticky;
  top: 10px;
}

.desc img,
.desc2 img {
  max-width: 100%;
  height: auto;
}


.staticPages p {
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
}

ol li {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 400;
}


.vueperslides__arrow {
  color: #424950 !important;
}

.h_56 {
  height: 56px;
}

.hr_subtitle {
  width: 90px;
  height: 5px;
  background-color: #12924f;
}

.v-slider__track-container {
  height: 5px !important;
}

.v-slider__track {
  height: 5px !important;
}

.border_green {
  border: 2px solid #13aa52 !important;
}

.border__Cultured {
  border: 1px solid #F5F5F5 !important;
}

.border__Secondary2 {
  border: 1px solid #00654C !important;
}

.border__Gainsboro {
  border: 1px solid #DFDFDF !important;
}

.Gainsboro_hr {
  border-color: #DFDFDF !important;
}

.error_hr {
  border-color: #E74C3C !important;
}

.border__DimGray {
  border: 1px solid #636d77 !important;
}

.border__success {
  border: 1px solid #13AA52 !important;
}

.CosmicLatte_back {
  background-color: #DBFDE9 !important;

}

.v-expansion-panel-header {
  line-height: 1.8 !important;
}

.Cultured_hr {
  border-color: #f5f6f7 !important;
}

.Cultured_back {
  background-color: #f5f6f7 !important;

}




.error_back {
  background-color: #E74C3C !important;

}

.white_back {
  background-color: #fff !important;

}

.Pdp-side {
  position: sticky;
  top: 80px;
}

.Pdp-side2 {
  position: sticky;
  top: 40px;
}

.fill-height .v-skeleton-loader__bone {
  height: 100%;
}

.w-100 .v-skeleton-loader__button {
  width: 100%;
  height: 45px;
}

.input_49 .v-text-field__slot {
  align-self: center !important;
}

.input_49 .v-label {
  top: 5px !important;
}

.input_49 .v-input__append-inner {
  margin-top: 13px !important;
}

.sell_to_lidalid {
  background: rgb(3, 92, 220);
  background: linear-gradient(86deg,
      rgba(3, 92, 220, 1) 0%,
      rgba(10, 179, 222, 1) 100%);
}

.sell_banner {
  position: absolute;
  bottom: -65px;
  width: 400px;
  left: -14px;
}


.sticky_image {
  position: sticky !important;
  top: 40px;
}



.gainsboro__input .v-input__slot {
  border: 1px solid #DFDFDF !important;

}

.nav_fix {
  position: sticky;
  top: 0;
  z-index: 8;
}

.border__gray {
  border: gray solid 1px !important;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
  background: #fff;
}

/* Track
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DFDFDF;
  border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DFDFDF;
}
.scroller {
  overflow-y: auto !important;
  overflow-x: auto !important;
}


/* .card-hover:hover .card-image{
  transform: scale(0.9);
} */

.height__80vh {
  height: 30vw;
}

.pillar p, .pillar li {
  font-size: 14px;
  font-weight: 400;
  color: #636D77;
}

.open {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.min-h_400 {
  min-height: 400px;
}

.blur_img .v-image__image {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.desc ul {
  padding-right: 25px;

}

.btn_toggle-plp {
  color: #fff !important;
  background-color: #0082FD !important;


}

.btn2_toggle-plp {

  background-color: #C8EBE2 !important;
}


.chip_img-card {
  position: absolute;
  top: 5px;
  right: 5px;
}


.hide-last-child hr:last-child {
  display: none;
}

.leaf_map {
  height: 400px;
}

.my_location-btn {
  bottom: 15px;
  right: 10px;
  z-index: 400 !important;
}

.search_location-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  z-index: 400 !important;
}

.leaflet-control-attribution .leaflet-control {
  display: none;
}

.leaflet-top {
  top: unset !important;
  bottom: 15px !important;
}

/* .leaf_map {
  height: calc(100vh - 136px);
} */


.marker_center {
  z-index: 1100 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -100%);
}


.v-toolbar__content, .v-toolbar__extension {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.BananaMani-back {
  background-color: #FFEEA9 !important;
}

.LavenderBlue-back {
  background-color: #D6D3FF !important;
}

.AeroBlue-back {
  background-color: #B8E6CB !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mt-150 {
  margin-top: 150px !important;
}

.mt-200 {
  margin-top: 200px !important;
}

.mt-300 {
  margin-top: 300px !important;
}

.pb-300 {
  padding-bottom: 300px !important;
}

.btn-shadow {
  -webkit-box-shadow: -1px 2px 0px 3px #000000 !important;
  box-shadow: -1px 2px 0px 3px #000000 !important
}

.title-over {
  position: absolute;
  top: -35px;
  right: 108px;
}

.img-home {
  width: 100px !important;
}

.btn-home_card {
  position: absolute !important;
  top: -25px;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn-sell {
  position: absolute !important;
  bottom: -24px;

}


.pad_card_home {
  padding: 70px 50px 50px;
}

.img-product-search {
  position: absolute;
  top: -114px;
  left: -87px;
  width: 700px;
}

.footer-radius {
  border-top-left-radius: 550px !important;
  border-top-right-radius: 550px !important;
}

.home-page-team {
  position: absolute;
  top: -210px;
  left: 50%;
  transform: translate(-50%, 0);
}


.footer-text-container {
  width: 500px;
}

.shadow-footer-img {
  width: 700px;
  top: -280px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;


}


.footer-list.v-list--dense .v-list-item,
.footer-list .v-list-item--dense {
  min-height: 20px !important;
}

.footer-list.theme--light.v-list {
  background-color: transparent !important;
}

.score-product {
  position: absolute !important;
  top: 10px;
  right: 10px;
}

.border-b-Gainsboro {
  border-bottom: 1px solid #DFDFDF !important;
}

.soft-shadow {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(200, 200, 200, 0.25);
  box-shadow: 0px 0px 10px 5px rgba(200, 200, 200, 0.25);
}


/* new design ststem css */

.back-water {
  background-color: #DAF1FF !important;
}

.back-info {
  background-color: #008CE0 !important;
}

.border-info {
  border: 1px solid #008CE0 !important;
}

.border-ChineseWhite {
  border: 1px solid #E0E0E0 !important;
}

.card-config {
  border: 1px solid #E0E0E0 !important;
}

.card-config2 {
  border: 1px solid #008CE0 !important;
  background-color: #DAF1FF !important;
}

.chip-card-config_pos {
  position: absolute !important;
  bottom: -18px;
  left: 50%;
  transform: translate(-50%, 0);
}

.chip-card-config {
  background-color: white !important;
  border: 1px solid #E0E0E0 !important;

}

.chip-card-config2 {
  background-color: #008CE0 !important;
  border: 1px solid #008CE0 !important;
}

.trapezoid {
  border-bottom: 29px solid #F5F5F5;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 100px;
  /* border-color: #F5F5F5; */
  border-radius: 40px 40px 0 0;
}

.ChineseWhite_hr {
  border-color: #E0E0E0 !important;
}


.chip-card-logo_pos {
  position: absolute !important;
  top: -18px;
  left: 50%;
  transform: translate(-50%, 0);
}

.chip-card-color_pos {
  position: absolute !important;
  top: -37px;
  left: 50%;
  transform: translate(-50%, 0);
}

.mt-n190 {
  margin-top: -190px !important;
}

.mt-190 {
  margin-top: 190px !important;
}

.text-shadow-DarkCornflowerBlue {
  text-shadow: 5px 5px #1F3D83;
}

.shadow-4 {
  box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: -1px 4px 8px 0px rgba(0, 0, 0, 0.1) !important;
}

.width48 {
  width: 48px !important;
}

.plus_profile-btn {
  position: absolute;
  outline: 1px solid #fff !important;
  bottom: 0;
  right: 0;
}

.active-white-text {
  color: white !important;
}

.profile-name {
  height: 100%;
}

.profile-header {
  position: absolute;
  width: 327px;
  border: 1px solid #F5F5F5;
  border-radius: 10px;
  background: #FFFFFF;
  right: 10px;
  height: 42px;
  top: -20px;
}

.wallet-image {
  width: 185.65px;
  height: 132.62px
}

.wallet-btn-withdraw {
  height: 57px;
  width: 216px;
  position: absolute;
  bottom: 90px;
  right: 136px;
}

.wallet-btn-statment {
  height: 57px;
  width: 216px;
  position: absolute;
  bottom: 90px;
  left: 136px;
}

.border-primary2 {
  border-color: #2AC59F !important;
}

.bg-white {
  background-color: #fff
}

.credit-svg {
  width: 32px !important;
  height: 32px;
}

.card-height-withdraw {
  min-height: 69px !important;
}

.border--warning2 {
  border-color: #008CE0 !important;
}

.info-home-box {
  position: relative;
  width: 998px;
  height: 508px;
}

.LightSilver-box {
  position: absolute !important;
  bottom: 0;
  right: 100px;
  border-radius: 45px !important;
}

.info-image-box {
  position: absolute !important;
  top: 0;
  left: -100px;
}

.price-order-box {
  min-height: 69px;
  background-color: #C8EBE2;
  border: 1px solid #21725E;
}

.border-r-15 {
  border-radius: 15px !important;
}

.box-delivery {
  border: 1px solid #EDEDED;

  width: 100%;
}

.up-info-section {
  top: -50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}

.mt-m-4 {
  margin-top: -40px;
}

.height-vh-100 {
  height: 100vh;
}

.height-percent-100 {
  height: 100%;
}

.height-vh-90 {
  height: 90vh;
}

.zindex-1 {
  z-index: 10 !important;
  right: 30px;
}

.zindex-2 {
  z-index: 10 !important;
  right: -20px;
}

.zindex-1-title-image {
  z-index: 10 !important;
  right: -171px;
  top: 231px;
}

.mr-175 {
  margin-right: 175px !important;
}

.position__absolute_left {
  left: 0;
  top: 91px;
}

.position__relative_left {
  left: 160px;
}

.nav-btn-_active {
  border-top: 1px solid #C8EBE2
}

.footer-box {
  margin-top: 200px;
  min-height: 387px;

  background: #0A0A0A !important;
  border-radius: 141px 141px 0px 0px !important;
}

.footer-green-box {
  height: 203px;
  width: 1200px;
  top: -105px;
  position: absolute;
  background: #21725E !important;
  border-radius: 219px 219px 0px 0px !important;
}

.why-lavin {
  top: 25px;
  right: 291px;
  z-index: 10;
}

.w-100 {
  width: 100% !important;
}

.z-index-10 {
  z-index: 10;
}

.position__absolute_rigth {
  left: 0 !important;
}

.mt--5 {
  margin-top: -20px;
}

.search_box {
  left: 27%;
  top: 70px;
  border-radius: 24.5px !important;
}

.search_box-1 {
  left: 11%;
  top: 83px;
  border-radius: 24.5px !important;
}

@media (max-width: 1902px) {
  .about-us-image{
    width: 90%;
    height: 421px ;
  }
  .search_box {
    left: 18%;
    top: 70px;
    border-radius: 24.5px !important;
  }
}


.v-list-item--link:before {
  border-radius: 15px
}

header {
  height: 90px !important;
}

.clock-img {
  position: absolute;
  left: -13px;
  top: 5px;
}

.mt-90 {
  margin-top: 90px;
}

.vertical-divider {
  /* margin-top: 24px; */
  margin-left: 3px;
  margin-right: 3px;
  border-left: 2px solid black;
  height: 60px;
}

.ov-hidden {
  overflow: hidden !important;
}

.absolute {
  position: absolute !important;
  z-index: 1;
}

.relative {
  position: relative;
}

.top50-r {
  right: 0;
  top: 50%;
}

.top50-l {
  left: 0;
  top: 50%;
}

.w90 {
  width: 90% !important;
}

.levelbtn {
  position: absolute;
  top: 30px;
  border-radius: 42px !important;
}

.br-15 {
  border-radius: 15px !important;
}
.br-50 {
  border-radius: 50px !important;
}.br-40 {
  border-radius: 40px !important;
}
.br-unset {
  border-radius: unset !important;
}
.plp-image-radius{
  border-top-left-radius: 40px !important;
  border-top-right-radius: 40px !important;
}

.v-text-field-custom {
  height: 55px !important;
  border: 1px solid #EDEDED !important;
}

.circle-box-game {
  width: 379px;
  height: 379px;

  border-radius: 100%;
  background: rgba(46, 225, 122, 0.3);
  filter: blur(170px);
  position: absolute;
  top: 66px;
}

.info-image-box-tr {
  position: absolute;
  background: rgba(73, 69, 69, 0.38039);
  width: 619px;
  height: 369px;
  border-radius: 45px !important;
  z-index: 1;
  left: 3px;
}

.pt-150 {
  padding-top: 110px
}

.main-container {
  max-width: 1200px !important;
  margin: auto;
  position: relative;
}

.filter-price-box {
  width: 683px;
  height: 48px;
  border: 1px solid #E0E0E0;
  border-radius: 15px;
}

.price-filter-input {
  width: 289px;
  margin: auto;
  height: 29px;
}

.show-fliter-price-box {
  width: 85px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #ACE6C4;
  /* Shadow / 2 */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.price-filter-input .v-slider__track-container {
  height: 2px !important;
}

.border-danger {
  border: 1px solid #FFDFDF !important;
}

.pdp-form .v-text-field--outlined.v-input--dense .v-label {
  top: 16px !important;
}

.pdp-form .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__append-inner {
  margin-top: 16px !important;
}



#mySelect fieldset {
  border: 1px solid #EDEDED;
  border-radius: 15px;
}

.line-h-28 {
  line-height: 28px;
}

#pdpCarousel .vueperslides__parallax-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 25px !important;
}

.order-user-info .box-h {
  height: 110px !important;
}

.br-25 {
  border-radius: 25px !important
}

.user-profile-active {
  color: #C8EBE2 !important
}

.dm-sans-font {
  font-family: 'Dm_sans' !important;
}

.success-payment {
  width: 100%;
  height: 69px;
  background: #C8EBE2;
  border: 1px solid #21725E;
  border-radius: 15px;
  color: #21725E
}

.unsuccess-payment {
  width: 100%;
  height: 69px;
  background: #FFE8E8;
  border: 1px solid #A82525;
  border-radius: 15px;
  color: #A82525
}

.success-peyment-card {
  background: #C8EBE2 !important;
  border-radius: 49px !important;
  width: 500px;
  height: 350px;
  margin-top: 120px;
  position: relative;
  padding-top: 140px;

}

.unsuccess-peyment-card {
  background: #FFDFDF !important;
  border-radius: 49px !important;
  width: 500px;
  height: 350px;
  margin-top: 120px;
  position: relative;
  padding-top: 140px;

}

.success-peyment-card .status-box {
  border: 1px solid #EDEDED;
  border-radius: 15px;
  background: #FFFFFF;
  width: 427px;
  height: 69px;
  margin: auto;

}

.unsuccess-peyment-card .status-box {
  border: 1px solid #EDEDED;
  border-radius: 15px;
  background: #FFFFFF;
  width: 427px;
  height: 69px;
  margin: auto;

}

.headr-active {
  border-bottom: 3px solid #FFC51E !important;
  padding-top: 2px;
}

.blog-banner {
  height: 450px;
  border-radius: 20px;
  position: relative;
}

.blog-banner .content-banner {
  right: 10px;
  position: absolute;
  bottom: 14px;
}

.br-20 {
  border-radius: 20px !important;
}
.br-25 {
  border-radius: 25px !important;
}

#blog-search fieldset {
  border-radius: 24.5px !important;
  border: none !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

}

.category-blog-box {
  background: #F5F6F7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 24.5px;
  height: 49px;
}

.mag-card {
  border: 1px solid #EDEDED;
  height: 408px;
}

.mt-1-5 {
  margin-top: -2px !important;
}

#blog-search .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined .v-input__append-inner {
  margin-top: 14px !important;
}

.owner-blog-box {
  background: #F5F5F5;
  border-radius: 20px;
  width: 281px;
  height: 130px;
}

.mag-tag {
  background: #F5F5F5;
  border-radius: 20px;
  height: 79px;
}

.static-radius {
  border-radius: 0px 20px 20px 0px;
}

.mag-home-title {
  background: #ffff;
  position: absolute;
  top: -38px;
}

.mag-home-card {
  width: 392px;
  height: 199px;
  background: #0A0A0A;
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  cursor: pointer;
}

.mag-text-image {
  position: absolute;
  bottom: 20px;
  right: 15px;
}

.gradiant-back {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(10, 10, 10, 0) 100%);
}

.active-mag-btn {
  background: #FFFFFF !important;
  border-radius: 24.5px !important;
}

.search-box-mag {
  width: 33px;
  height: 33px;
  background: #757575;
  left: 10px;
  top: 10px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  border-radius: 20px;
}

.gift-section {
  width: 1199px;
  height: 262px;
  background: linear-gradient(95deg, rgb(210 172 103) 5.97%, rgb(237 214 174 / 90%) 63.18%);
  border-radius: 40px;
}

.gift-image-box {
  position: absolute;
  top: -188px;
  left: 0;
}

.survey-box {
  width: 499px;
  height: 97px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  border-radius: 15px;
}


.survey-filter-input {
  width: 453px;
  margin: auto;
  height: 29px;
}

.survey-filter-input .v-slider__track-container {
  height: 2px !important;
}

.survey-filter-input .v-slider__tick {
  width: 6px !important;
  height: 6px !important;
  border-radius: 50% !important;
  background: #21725E !important;
}

#surveyTextarea .v-input__slot {
  height: 97px !important;
  border: 1px solid #EDEDED !important;
  border-radius: 15px !important
}

#surveyTextarea fieldset {

  border: 1px solid #EDEDED !important;
  border-radius: 15px !important
}

#giftBoxText fieldset {

  border: 1px solid #EDEDED !important;
}

#giftBoxText .v-icon {
  margin-top: 10px;
}


.gift-btn {
  position: absolute !important;
  top: 10px;
  left: 51px;
  border-radius: 8px !important;
}

.br-10 {
  border-radius: 10px !important
}

.card-modal-box {
  left: 1%;
  margin-top: 10px;
  top: 83px;
  width: 728px;

  background-color: #F5F6F7;
}


/*
   vue zoom calss
*/

.vue-magnifier-container {
  position: relative;
}

.vue-magnifier-container .preview {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  display: block;
  clear: both;
  margin: 0 auto;
  cursor: none;
  border-radius: 25px;
}

.vue-magnifier-container .preview .magnifying-glass {
  position: absolute;
  border: 5px solid #666;
  border-radius: 50%;
  cursor: none;
  width: 150px;
  height: 150px;
  transform: translate(-75px, -75px);
  background: #fff no-repeat;
  display: none;
  pointer-events: none;
}

.vue-magnifier-container .preview:hover .magnifying-glass {
  display: block;
}

@media only screen and (max-width: 500px) {
  .h-home-image{
    height: unset !important;
  }
  .user-profile-header-box{
    height: 105px !important  ;
    background: #0C385F
  }
  .pdp__order-card .avatar-box{

    width: 41px !important;
    height: 41px !important;

  }
  .store__pdp-filter-box{
    height: 134px !important;

  }
  #serviceBanner .vueperslides__inner{
    height: 361px !important;
  }

  #storeBanner .vueperslides__inner{
    height: 440px !important;
  }
  #storePlpBanner .vueperslides__inner{
    height: 600px !important;
  }
  #storePlpBanner .vueperslides__parallax-wrapper{
    height: 600px !important;
  }


  .bg-cultured .v-text-field--outlined fieldset{
    border-color: #F5F5F5 !important;
    border-radius: 20px !important;
  }
  .service__plp-filter-box{
    width: 90% !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
    padding-right: 10px;
  }
  .service__plp-verified{
    position: absolute;
    top: -40px !important;
    left: 20px !important;
  }
  .service__plp-banner-card{
    width: 90% !important;
    height: 70px !important;

  }
  .m-br-15{
    border-radius: 15px !important;
  }
  .store__plp-filter-box{
    height: 70px !important;
    z-index: 0;

  }
  .service__plp-banner-image-box-background{

    width: 129px !important;
    height: 129px !important;
  } .service__plp-banner-image-box-background img{

    width: 129px !important;
    height: 129px !important;
  }

  .panel {
    width: 100%;
    height:auto!important;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    background:  #FFC51E;
    margin-top:-30px;
    padding: 40px !important;
    text-align: justify;
  }
  .mt-mobile-5{
    margin-top: 25px;
  }
  .mt-mobile-10{
    margin-top: 60px;
  }
  .add-service-type-box {
    border: unset !important;
    width: 100% !important;
    min-height: 200px;
    padding: 10px !important;
  }
  .create-service-card{
    width: 100%;
    border:unset !important; ;
    padding: 10px !important;

  }
  .bg-cultured{
    background: #F5F5F5;
    padding-top: 30px !important;
    border-radius: 15px !important;
    width: 100% !important;

  }
  .masir-footer .footer-contactus-box {
    width: 70%;
    border-radius: 25px !important;
    margin-top: -263px;
    background: #616161;
    padding-bottom: 50px ;
  }

  .masir-footer .footer-contactus-box{
    width: 86% !important;


  }
  .main-container {
    width: 100% !important;
    margin: auto;
    position: relative;
  }
  .why-masir-svg-position{
    position: absolute;
    right: 19% !important;

  }
  .request-masir-svg-position{
    position: absolute;
    right: 25% !important;

  }
  .why-masir-svg-position img{
    width: 60px !important;

  }
  .request-masir-svg-position img{
    width: 100px !important;
  }
  .vue-magnifier-container .preview {
    width: 393px;
    height: 389px;
  }

  .about-box-img-down {
    position:absolute;
    right: 25px !important;
    bottom: 31px !important;
    width: 85% !important;
    height: 130px !important;
    border-radius: 25px!important;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(4px);
  }
  .about-box-img-up {
    position: absolute;
    right: 27px !important;
    top: 22px !important;
    width: 85% !important;
    height: 130px !important;
    border-radius: 25px !important;
    background: rgba(0, 0, 0, 0.50);
  }
    .about-link-box-img-up {
    position:absolute;
      right: 17px !important;
      top: 16px !important;
    width: 81px !important;
    height: 77px !important;
    border-radius: 25px !important;
    background: var(--primary-and-secondary-secondari, #0C385F);
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .about-link-box-img-down {
    position:absolute;
    left: 6px !important;
    bottom: 11px !important;
    width: 80px !important;
    height: 76px !important;
    border-radius: 25px !important;
    background: var(--primary-and-secondary-secondari, #0C385F);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-link-box-img-up img{

    width: 47px !important;
    height: 128px ;

  }
  .about-link-box-img-down img{

    width: 47px !important;
    height: 128px ;

  }
  .masir-footer .footer-contactus-box{
    margin-right: 20px;
    margin-left: 20px;
  }

  .masir-footer .footer-contactus-box .contact-us-title-box{
    width: 203px !important;
    height: 76px !important;

  }

  .masir-footer .footer-contactus-box .contact-us-title-box span{
    font-size: 24px !important;
    font-weight: 600;

  }
  .banner-btn{
    width: 178px !important;
    height: 72px !important;
  }
  .banner-btn span{
    font-size: 24px;
    font-weight: 600;
  }
  .vueperslides__inner {
    height: 520px !important;
  }

  .vueperslides__parallax-wrapper {

    height: 451px !important;

  }

}


.mt--124 {
  margin-top: -124px;
}

.about-box-img-up {
  position:absolute;
  right: 30px;
  top: 61px;
  width: 525px;
  height: 208px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(4px);
}
.about-box-img-down {
  position:absolute;
  right: 30px;
  bottom: 61px;
  width: 525px;
  height: 208px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(4px);
}

.about-link-box-img-up {
  position:absolute;
  right: 16px;
  top: 9px;
  width: 161px ;
  height: 152px ;
  border-radius: 50px;
  background: var(--primary-and-secondary-secondari, #0C385F);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-link-box-img-up img{

  width: 128px ;
  height: 128px ;

}
.about-link-box-img-down {
  position:absolute;
  left: 0;
  bottom: 0;
  width: 161px ;
  height: 152px ;
  border-radius: 50px;
  background: var(--primary-and-secondary-secondari, #0C385F);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-link-box-img-down img{

  width: 128px ;
  height: 128px ;

}
.why-masir-svg-position{
  position: absolute;
  right: 32%;
}.request-masir-svg-position{
  position: absolute;
  right: 29%;
}
.banner-masir-svg-position{
  position: absolute;
  left: 10%;
  bottom: 50px;

}
.masir-footer{
  min-height: 1044px;
  border-radius: 50px 50px 0px 0px;
  background: var(--primary-and-secondary-secondari, #0C385F);
  margin-top: 500px;
}
.masir-footer-withOut-contact{

  border-radius: 50px 50px 0px 0px;
  background: #0C385F;
  margin-top: 100px;
  padding-bottom: 100px;
}

.masir-footer .footer-contactus-box{
  width: 70%;

  border-radius: 50px;
  margin-top: -263px;
  background: var(--monocolor-granite-gray, #616161);
}
.masir-footer .footer-contactus-box .contact-us-title-box{
  width: 341px;
  height: 130px;
  margin-top: -50px;
  border-radius: 25px;
  background: var(--monocolor-granite-gray, #616161);
}

.v-text-field--outlined fieldset{
  border-color: white !important;
  border-radius: 20px !important;
}
/* .v-application--is-rtl .v-text-field .v-label {
  color: white !important;
} */
#contactUsForm .v-input .v-label{
  color: white !important
}
.headerPage .v-text-field--outlined fieldset{
  border-color: #0C385F !important;
  border-radius: 22px !important;

}

.headerPage .v-input .v-label{
    color: #000 !important
}
.chatHeader .v-text-field--outlined fieldset{
  border-color: #0C385F !important;
  border-radius: 22px !important;

}


.chatHeader .v-input .v-label{
    color: #000 !important
}
.headerChat .v-text-field--outlined fieldset{
  border-color: #0C385F !important;
  border-radius: 22px !important;
  background: #FFFFFF;
}

.headerChat .v-input .v-label{
    color: #000 !important
}
.v-application--is-rtl .v-text-field .v-input__append-inner{
  margin-top: 11px !important;
}
.headerPage .v-text-field--outlined>.v-input__control>.v-input__slot{
  min-height: 44px !important;
  height: 44px !important;
}

.background_unset{
  background: unset !important;
}

.mobile-menu-back{
  position: absolute;
  bottom: 44px;
  left: 25px;
}

.banner-btn{
  width: 240px;
  height: 90px ;
}
.banner-btn span{
  font-size: 30px;
  font-weight: 600;
}

.service__service-box{
  width: 510px;
  height: 208px;
  border-radius: 40px;
  border: 1px solid var(--monocolor-chinese-white, #E0E0E0);
  background: var(--monocolor-cultured, #F5F5F5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__service-box-mobile{
  width: 85%;
  height: 110px;
  border-radius: 15px;
  border: 1px solid var(--monocolor-chinese-white, #E0E0E0);
  background: var(--monocolor-cultured, #F5F5F5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__action-box-left{
  width: 165px;
  height: 165px;
  background: rgba(12, 56, 95, 0.70);
  backdrop-filter: blur(2px);
  position: absolute;
  left: -45px;
  bottom: -58px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__action-box-left-mobile{
  width: 88px;
  height: 88px;
  background: rgba(12, 56, 95, 0.70);
  backdrop-filter: blur(2px);
  position: absolute;
  left: -45px;
  bottom: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__action-box-left-mobile img{
  width: 80%;
}

.service__action-box-right{
  width: 165px;
  height: 165px;
  background: rgba(12, 56, 95, 0.70);
  backdrop-filter: blur(2px);
  position: absolute;
  right: -45px;
  bottom: -58px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__action-box-right-mobile{
  width: 88px;
  height: 88px;
  background: rgba(12, 56, 95, 0.70);
  backdrop-filter: blur(2px);
  position: absolute;
  right: -45px;
  bottom: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__action-box-right-mobile img{
  width: 80%;
}

.service__top-diver-box{

  background-color: #ffffff;
  border-radius: 40px;
  border: 1px #E0E0E0;
  box-shadow: 0px 4px 8px #0000001a;
}
.service__top-diver-box .avatar-img{
   width: 199px;
   height: 199px;
  margin-top: -100px;
}

.driver-detail-box{
  width: 273px;
  height: 140px;
  border-radius: 20px;
  border: 1px solid  #E0E0E0;

}
.driver-detail-box-mobile{
  width: 100%;
  height: 140px;
  border-radius: 20px;
  border: 1px solid  #E0E0E0;

}

.accordion {
  border-radius: 36px;
  background: #FFF;
  /* Shadow/8 */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: right;
  outline: none;
  margin-top: 10px ;
}



.panel {
  width: 100%;
  height: 237px;
  display: none;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  background:  #FFC51E;
  margin-top:-30px;
  padding: 80px;
}


@media only screen and (min-width: 1264px){
  .container {
    max-width: 100% !important;
    width: 100% !important;
  }

}
.main-container-header{
  width: 100%;
}

.mb-17{
  margin-bottom: 10px !important;
}
.rating-box{
  position: absolute;
  left: 35px;
  top: 40px;
}
.rating-box-mobile{
  position: absolute;
  right: 10px;
  bottom: 60px;
}
.v-main {
  padding: 0!important;
}

.v-dialog--fullscreen{
  background: #FFFFFF;
}
.vueperslides__bullet .default{
  background: #FFC51E !important;
  /*border: unset !important;*/
}


.vueperslides__bullet--active .default{
  width: 71px !important;
  height: 19px !important;
  background: #0C385F !important;
  border: unset !important;
}

.vueperslides__inner {
    height: 720px ;
}

.vueperslides__parallax-wrapper {

  height: 633px ;

}

.create-service-card{
  width: 100%;
  border-radius: 50px;
  border: 1px solid #E0E0E0;
  padding: 52px;
}

.create-service-card .v-text-field>.v-input__control>.v-input__slot>.v-text-field__slot{
  border: 1px solid #E0E0E0;
  background: #F5F5F5;
  border-radius: 15px;
  padding-right: 20px;
}
.create-service-card  .v-select__slot {
  border: 1px solid #E0E0E0;
  background: #F5F5F5;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
}
.create-service-card  .v-input__icon {
  margin-top: 5px;
  }
.user-profile__detail-card .v-text-field>.v-input__control>.v-input__slot>.v-text-field__slot{
  border: 1px solid #E0E0E0;
  background: #F5F5F5;
  border-radius: 15px;
  padding-right: 20px;
  height: 87px;

}
.user-profile__detail-card .v-select__slot {
  border: 1px solid #E0E0E0;
  background: #F5F5F5;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
}
.user-profile__detail-card  .v-input__icon {
  margin-top: 5px;
  }
.modal-report .v-text-field>.v-input__control>.v-input__slot>.v-text-field__slot{
  border: 1px solid #E0E0E0;
  border-radius: 15px;
  padding-right: 20px;
}
.modal-report .v-select__slot {
  border: 1px solid #E0E0E0;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
}
.modal-report  .v-input__icon {
  margin-top: 5px;
  }
.pdp.rtl .pdp-group :first-child{
  display: none;
}
.pdp.rtl .pdp-group input{
  height: 52px;
  border: 1px solid #E0E0E0;
  background: #F5F5F5;
  border-radius: 15px !important;
  padding-right: 20px;

}

.pdp .pdp-picker.rtl {
  width: 100%;
  background: #0C385F;
  color: white;
}

.add-service-type-box {
  border-radius: 50px;
  border: 1px solid  #E0E0E0;
  width: 95%;

  padding: 40px 16px;
}

.add-service-type-box .v-text-field>.v-input__control>.v-input__slot>.v-text-field__slot{
  border: 1px solid #E0E0E0;
  background: #FFFFFF;
  border-radius: 15px;
  padding-right: 20px;
}
.add-address .v-text-field>.v-input__control>.v-input__slot>.v-text-field__slot{
  border: 1px solid #E0E0E0;
  background: #FFFFFF;
  border-radius: 15px;
  padding-right: 20px;
}
.add-address .v-text-field--outlined fieldset{
  border: 1px solid #E0E0E0 !important  ;
  background: #FFFFFF;
  border-radius: 15px;
  padding-right: 20px;
}
.text-address .v-text-field--outlined fieldset{
  border: unset !important;
  background: #FFFFFF;
  border-radius: 15px;
  padding-right: 20px;
}
.v-list{
  border-radius: 15px;
  background:#0C385F !important ;
}
#mobileHeader.v-list{
  border-radius: 15px;
  background:#FFFFFF !important ;
}
.v-menu__content {
  border-radius: 15px !important;
}
.v-menu-content-box{
  width: 100%;
  border-bottom: solid 1px rgba(218, 241, 255, 0.20);;
}

.v-list-item{
  padding: 0 !important;
}

#create-form .v-list-item__title{
  color: #FFFFFF !important;
}
.add-service-type-box  .v-select__slot {
  border: 1px solid #E0E0E0;
  background: #FFFFFF;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

.service__plp-filter-box{
  width: 611px;
  height: 89px;
  border-radius: 15px;
  border: 1px solid #E0E0E0;
  background: #F5F5F5

}
.theme--light.v-btn--active:before, .theme--light.v-btn--active:hover:before{
  opacity: 1 !important;
}

.service__plp-banner-image-box{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.service__plp-verified{
  position: absolute;
  top: 0;
  left: 0;
}

.service__plp-banner-image-box-background{
  background: #D9D9D9;
  border-radius: 50%;
  width: 248px;
  height: 248px;
}

.service__plp-banner-card{
  width: 784px;
  height: 89px;
  border-radius: 44.5px;
  border: 1px solid #E0E0E0;
  background:  #F5F5F5;
}

.discount-box{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFC51E;

}
.v-menu__content{
  margin-top: 50px !important;
}
.main-container-header .v-menu__content{
  margin-top: 0px !important;
}
.headerMenu{

}
.store__plp-filter-box{
  height: 89px;
  border-radius: 15px;
  border: 1px solid #E0E0E0;
  background: #F5F5F5

}
.store__pdp-filter-box{
  height: 104px;
  border-radius: 20px;
  border: 1px solid #E0E0E0;
  background: #F5F5F5

}

.pdp__order-card{

  margin-top: 40px;
  border-radius: 25px;
  border: 1px solid  #E0E0E0;
  background:  #FFF;
  /* Shadow/8 */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pdp__order-card .avatar-box{
  fill:  #FFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.10);

  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.user-profile__detail-card .avatar-box{
  fill:  #FFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.10);

  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.user-profile__head{
  width: 100%;
  min-height: 500px;
  background: #0C385F;
}
.user-profile__head .status-mobile-box{
  width: 281px;
  height: 121px;
  background: rgba(0, 26, 86, 0.50);
}
.user-profile__head .avatar-box{
  width: 250px;
  height: 251px;border-radius: 35px;
  border :1px solid #FFF

}

.user-profile__head .chip{
  height: 44px;
  min-width:131px ;
  background: #FFF;
  border-radius: 22px;
}

.user-profile__detail-card{
  width: 100%;

  border: 1px solid #E0E0E0;
  border-radius: 15px;
  background: #FFFFFF;
}
.user-profile__detail-card-chat{
  width: 100%;

  border: 1px solid #E0E0E0;
  border-radius: 15px;
  background: #FFFFFF;
}
.user-profile__detail-card-create{
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 50px;
  background: #F5F5F5;
}

.user-profile__experience-box{
  width: 100% ;
  min-height: 415px;
  border-radius: 15px;
  background: #F5F5F5;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.user-profile__status-card{
  height: 83px;
  border-radius: 15px;
  border: 1px solid #E0E0E0;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
.user-profile__status-card-full{
  height: 100%;
  border-radius: 15px;
  border: 1px solid #E0E0E0;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.user-profile__chat-card{
  height: 500px;
  border-radius: 20px;
  border: 1px solid #E0E0E0;
  background: #FFF;
}

.user-profile__chat-user-card{
  position: absolute;
  right: 0;
  width: 373px;
  border-left:1px solid #E0E0E0;
  height: 100%;
}

.user-profile__chat-user-card .header-chat{
  height: 77px !important;
}
.user-profile__chat-user-chat .header-chat{
  height: 77px;
}
.user-profile__chat-user-chat{
  position: absolute;
  left: 0;
  width: calc(100% - 373px) ;
  height: 100%;
}

.active-chat{
  background: #DAF1FF;
  border-radius:  10px;
}
.unactive-chat{
  background: #fff;
  border-bottom: 1px solid #E0E0E0;
}

.my-message{
  border-radius: 10px;
  background: #0C385F;
  min-height: 57px;

}
.user-message{
  border-radius: 10px;
  background: #F5F5F5;
  min-height: 57px;

}

.user-detail-dec-box{
  min-height: 161px;
  border-radius: 15px;
  border: 1px solid #0C385F;
}

#storeBanner .vueperslides__inner{
  height: 481px ;
}

.v-dialog{
  background: #FFFFFF;
}

.contractor-card{
  min-height: 198px;
  border-radius: 15px;
  background: #F5F5F5;
  /* Shadow/4 */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
}
.contractor-card-detail{
  height: auto;
  border-radius: 15px;
  background: #F5F5F5;
  /* Shadow/4 */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
}

.contractor-chip{
  height: 55px;
  border-radius: 15px;
  background: #FFF;
  /* Shadow / 2 */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);

}

.contractor-detail-card{
  border-radius: 50px;
  border: 1px solid #E0E0E0;
  background:  #FFF;
}

.address-card{
  min-height: 81px;

  border-radius: 10px;
  background: #F5F5F5;
  /* Shadow/8 */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
}
.user-profile-navigation{
  border-radius: 15px;
  border: 1px solid #E0E0E0;
  background: #F5F5F5;
  min-height: 553px;
}

.user-profile-navigation .theme--light.v-list-item--active:before, .theme--light.v-list-item--active:hover:before, .theme--light.v-list-item:focus:before {
background: #FFC51E;
  opacity: 0.8;
}
.user-profile-navigation .v-list-group  .theme--light.v-list-item--active:before, .theme--light.v-list-item--active:hover:before, .theme--light.v-list-item:focus:before {
  background: unset;
  opacity: 0.8;
}


.user-profile-navigation .mobile-box{
  border-radius: 30px;
  background: #0C385F;
  width: 157px;
  min-height: 60px;
  margin-top: -80px;
  margin-bottom: 60px;
}

.v-list-item__icon{
  display: none !important;
}
.create-product-box{
  border-radius: 15px;
  background: #F5F5F5;
  min-height: 105px;
  /* Shadow/4 */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
}
.filter-green{
  filter : invert(15%) sepia(59%) saturate(1527%) hue-rotate(182deg) brightness(63%) contrast(95%);
}
.user-profile-header-box{
  height: 300px;
  background: #0C385F
}

.about-us-image{
  width: 90%;
}
.about-us-box-yellow{
  position: absolute;
  left:19%;
  top: 30px;
  width: 161px;
  height: 152px;
  border-radius: 50px;
  background: #FFC51E;
}
.about-us-box-primary{
  position: absolute;
  left:27%;
  top: 0;
  z-index: 10;
  width: 78px;
  height: 73px;
  border-radius: 20px;
  background: #0C385F;
}
.about-us-box-white{
  position: absolute;
  right:15%;
  top: 0;
  z-index: 10;
  width: 78px;
  height: 73px;
  border-radius: 20px;
  background: #FFF;
}

.v-dialog--active{
  border-radius: 25px !important;
}

.h-home-image{
  height: 666px;
}
.pointer{
  cursor: pointer;
}

.v-card--link:before {
  background: none !important;
}


.create-service-card .v-text-field.v-text-field--enclosed .v-text-field__details, .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot {
  padding: 0 !important;
}
/*.headerPage .v-text-field.v-text-field--enclosed .v-text-field__details, .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot {*/
/*  padding: 0 12px !important;*/
/*}*/
.user-profile__detail-card-chat .chatHeader  .v-text-field>.v-input__control>.v-input__slot>.v-text-field__slot{
  border: unset !important;
  background: unset!important;
  padding: 0 12px !important;
}
.user-profile__detail-card-chat .chatHeader  .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot {
  padding: 0 12px !important;
  padding-bottom: 16px !important;

}
.headerPage .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot {
  padding: 0 12px !important;

}
.user-profile__detail-card-chat .chatHeader .v-text-field--outlined fieldset {

  height: 44px !important;
}
.user-profile__detail-card-create .v-text-field.v-text-field--solo.v-input--dense>.v-input__control  {

  min-height: 52px !important;
}
.user-profile__detail-card-create .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot {
  padding: 0 12px !important;

}

.user-profile__detail-card .messageSend .v-text-field>.v-input__control>.v-input__slot>.v-text-field__slot {
  border: 1px solid #E0E0E0;
  background: #F5F5F5;
  border-radius: 15px;
  padding-right: 20px;
  height: 61px;
}
.user-profile__chat-user-chat .messageSend .v-text-field>.v-input__control>.v-input__slot>.v-text-field__slot {
  border: 1px solid #E0E0E0;
  background: #F5F5F5;
  border-radius: 15px;
  padding-right: 20px;
  height: 61px;
}

